services:
  - type: web
    name: sgsb-inspecao
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/trpc/system.health

